<% content_for :title do %>About<% end %>
<h3>ABout Foobar Kadigan</h3>
<p>He was born in Toronto Ontario, inside Niagara Falls.
  He lived among the cold and shadows, morphing into a monster.
  People call him the ICE FOOT, but some call him, the Niagara Giant.
  No one know who he is, or what he is, but one thing is for sure,
  He is the King of Niagara! </p>
<p>His favourite quotation is:</p>
<p>Those who dare oppose me, shall taste the wrath of the Niagara Falls!</p>
