<% content_for :title do %>About<% end %>
<h3>About Foobar Kadigan</h3>
<p>He was born in Waikikamukau, New Zealand. He left New Zealand for England,
  excelled at the university of Mopery, and served in the Royal Loamshire Regiment.
  While in service, he invented the kanuten valve used in the processing of
  unobtainium for industrial use. With a partner, Granda Fairbook, he founded
  Acme Manufacturing, later acquired by the Advent Corporation, to develop his discover for use in the Turbocabulator
  </p>
<p> His favourite quotation is: </p>
<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
